<%= render 'common/colours' %>

<body>
<h2>Colour Pairs in Two Different Formats!</h2>
<p>
  <table>
    <tr>
	  <th>ID</th>
      <th>First Colour (name)</th>
      <th>Second Colour (hex)</th>
    </tr>
    <% @colours.each do |colour| %>
      <tr>
		<td><%= colour.id %></td>
        <td style="background-color: <%= colour.name %>;"><%= link_to colour.name, colour_path(colour.id) %></td>
        <td style="background-color: <%= colour.hex %>;"><%= link_to colour.hex, colour_path(colour.id) %></td>
      </tr>
    <% end %>
  </table>
</p>
</body>
