<%= render 'common/colours' %>

<h2>Colour <%= @colour.id %></h2>
<p>
  <table>
    <tr>
	  <th>ID</th>
      <th>First Colour (name)</th>
      <th>Second Colour (hex)</th>
    </tr>
    <tr>
		<td><%= @colour.id %></td>
    <td style="background-color: <%= @colour.name %>;"><%= @colour.name %></td>
    <td style="background-color: <%= @colour.hex %>;"><%= @colour.hex %></td>
    </tr>
  </table>
</p>
